.menu-item-card {
    display: flex;
    background: #FFF; /* Replace with the actual color from the image */
    border-radius: 10px; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Initial subtle shadow */
    overflow: hidden;
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
  }
  
  .menu-item-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* More pronounced shadow on hover */
  }
  
  .menu-item-image-container {
    flex: 0 0 150px; /* Adjust width as needed */
    overflow: hidden;
  }
  
  .menu-item-image-container img {
    width: 100%;
    height: auto;
  }
  
  .menu-item-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: right;
  }
  
  .menu-item-info h3 {
    margin: 0;
    font-size: 1.25rem; /* Adjust size as needed */
    color: #333; /* Replace with the actual color from the image */
  }
  
  .price {
    font-size: 1rem; /* Adjust size as needed */
    color: #888; /* Replace with the actual color from the image */
  }
  