/* table.css */
.create-add-on-btn {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  /* margin: 10px; */
  /* margin-right: 10px;
  margin-bottom: 50px; */
  border-radius: 4px;
  background-color: #2E4647;
  color: white;
  /* border: none; */
  padding: 5px 20px;
  /* cursor: pointer; */
}
.create-add-on-btn:hover {
  background-color: #3A6062; /* Replace 'green' with your desired hover color */
  /* Add other hover styles if needed */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
    background-color: #2E4647;
    color: #ffffff;
    text-align: left;
  }
  
  table th,
  table td {
    padding: 12px 15px;
  }
  
  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  table tbody tr:last-of-type {
    border-bottom: 2px solid #2E4647;
  }
  
  table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .edited {
    background-color: yellow; /* Color when edited */
  }
  
  .highlighted {
    background-color: lightblue; /* Color when row is selected */
  }
  
  input[type="text"][readonly] {
    color: black; /* Default color */
  }
  
  button:disabled {
    opacity: 0.5; /* Style for disabled buttons */
  }